

.stranica {
    text-align: center;
    background-size: cover;
    background-image: url('Pozadine/pozadinaPocetna.jpg');
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px; /* Povećan padding za bolji razmak */
    padding-top: 60px; /* Veća margina za bolju vidljivost */
    overflow-y: auto;
    min-height: 100vh;
    flex-direction: column;
}

.navigacija {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8); /* Dodata blaga pozadina za čitljivost */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Dodata senka za estetiku */
}

.profil {
    position: fixed;
    top: 10px; /* Preciznija margina */
    right: 20px; /* Bolji razmak od ivice */
    margin-right: 30px;
    margin-top: 40px;
}
